.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

.leaflet-popup-tip {
  display: none !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}